@model IEnumerable<AtmBanking.Entity.Models.CustomerInfo>

<div class="row">
    <div class="col-12">
        <h3>Movies</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>CustomerId</th>
                    <th>name</th>
                    <th>address</th>
                    <th>city</th>
                    <th>email_address</th>
                    <th>contact_info</th>
                    <th>card_no</th>
                    <th>pin_no</th>
                    <th>account_number</th>
                    <th>account_type</th>

                </tr>
            </thead>   
        </table>
    </div>
</div>