@model AtmBanking.Entity.Models.Admin

<h2>Login</h2>
<hr />
<form method="post">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" asp-for="Username">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control" asp-for="password">
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
<div class="alert alert-success">
    @ViewBag.message
</div> }
            else if (ViewBag.status == "Error")
            {
<div class="alert alert-danger">
    @ViewBag.message
</div>}
    <hr />
    
</form>